<h1>Play</h1>

<form name = "my_form" action = "{% url 'snakegame:game' 'd' %}" method="post">
  {% csrf_token %}
  <table>
  {% for row in board %}
    <tr>{% for tup in row %}
      {% load snake_tags %}
      <td>{{board|index:forloop.parentloop.counter0|index:forloop.counter0}}</td>
    {% endfor %}
    </tr>
  {% endfor %}

  </table>
</form>
<script type="text/javascript">
  while(true){
    if (new Date().getTime()/1000 >= {{stop}}){
      console.log('lul');
      document.forms['my_form'].submit();
      break;
    }
  }
</script>